@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookAShow</h1>
    <img id="logo" src="~/images/musicNotes.png" alt="BookAShow logo" class="logo" width="500" height="600"/>
    <p>Your tool to manage artist bookings. [<a class="link text-dark" asp-area="" asp-controller="Home" asp-action="ReadMore">Read more</a>].</p>
</div>
