@{
    ViewData["Title"] = "BookAShow - Details";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookAShow</h1>
    <p>Manage booking of artists.</p>
    <p>Plan a tour.</p>
    <p>Let the artist view the tour plan.</p>
    <p>Run campaigns.</p>
    <p>The easy and userfriendly way to manage artists. Calendar integration. Customers can request an offer directly from this page. Communicate directly with the artist. Manage communication with venues.</p>
    <p>[<a class="link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>]</p>
</div>
