@{
    ViewData["Title"] = "HeavyWorkload Async";
}
@model BookingEksamenWebUI.Models.HeavyWorkloadObject

<div class="text-center">
    <h1 class="display-4">Heavy Workload Async page</h1>
    @{
        <p>@Model.HeavyWorkloadResult</p>
        <p>Result retrieved in @Model.StopWatchElapsed.Milliseconds milliseconds</p>
    }
</div>
