@page "/contact"


<h1>Contact</h1>

<div class="text-center">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Skr%C3%A6nten%20121,%207120%20Vejle%20%C3%B8&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>
    </div>
    <p>Address: Skrænten 121 - DK-7120 Vejle Ø - Denmark</p>
    <p></p>
    <p>Phone: +45 26 17 00 96</p>
    <p></p>
    <p>Email: <a href="mailto:info@bookashow.dk">info@bookashow.dk</a></p>
    <p></p>
    <p>Click <a class="nav-link" href="createcomment">here</a> to contact us</p>    
</div>

