@page "/showcomments"
@using BookingEksamenMAUI.Helpers.Comments
@inject ICommentAPIHelper commentAPIHelper

<h1>Comments</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            <label for="LastName" class="col-sm-2 control-label">LastName</label>
        </th>
        <th>
            <label for="FirstMidName" class="col-sm-2 control-label">FirstMidName</label>
        </th>
        <th>
            <label for="EmailAddress" class="col-sm-2 control-label">EmailAddress</label>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var comment in commentAPIHelper.GetComments())
    {
        <tr>
            <td>@comment.LastName</td>
            <td>@comment.FirstMidName</td>
            <td>@comment.EmailAddress</td>
        </tr>
        <tr>
            <td>@comment.CommentText</td>
        </tr>
    }
    </tbody>
</table>

<div>
    <p>[<a class="link text-dark" asp-area="" href="Index">Home</a>]</p>
</div>