@using BookingEksamenWebUI.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Dashboard";
}
@model Booker

<div class="text-center">
    <h1 class="display-4">Welcome to the BookAShow dashboard for Bookers</h1>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Comment" asp-action="Index">Show comments</a>
                    </li>
                </ul>
            </div>
            @* Heavy workload *@
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="HeavyWorkload" asp-action="HeavyWorkload">Heavy workload async</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="HeavyWorkload" asp-action="Heavy">Heavy workload</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="HeavyWorkload" asp-action="NormalWorkload">Normal workload async</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="HeavyWorkload" asp-action="Normal">Normal workload</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p>Manage bookings for your artists.</p>
    @if (Model is not null)
    {
        @foreach (var artist in Model.Artists)
        {
            <li>@artist.Name</li>
        }
    }
</div>