@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BookAShow dashboard for Bookers</h1>
    <img id="logo" src="~/images/musicNotes.png" alt="BookAShow logo" class="logo" width="500" height="600"/>
    <p>Manage bookings for your artists.</p>
</div>
