@page
@model IEnumerable<BookingEksamenWebUI.Models.Artist>

@{
    Layout = null;    
}

<!DOCTYPE html>

<html>
<head>
    <title>Artists</title>
</head>
<body>
<div>
    <h1>Artists</h1>
    <ul>
        @* @foreach (var item in Model) *@
        @* { *@
        @*     <li>@item.Name</li> *@
        @* } *@
    </ul>
</div>
</body>
</html>